.header__lang-link{
  border: 1px solid rgb(254, 0, 0);
  padding-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin:0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
  }
}