.footer__link{
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 18px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #FFFFFF;
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  .footer__link{
    padding-bottom: 32px;
    font-size: 24px;
  } 
}